*.json
*.pyc
*.sublime-*
__pycache__
build/*
dist/*
homie/test/*
homie.egg-info/*
MANIFEST
Homie3.egg-info/dependency_links.txt
Homie3.egg-info/PKG-INFO
Homie3.egg-info/requires.txt
Homie3.egg-info/SOURCES.txt
Homie3.egg-info/top_level.txt
homie/__pycache__/device_base.cpython-37.pyc
homie/__pycache__/device_base.cpython-37.pyc
homie/node/property/__pycache__/property_base.cpython-37.pyc
homie/__pycache__/device_base.cpython-37.pyc
homie/node/__pycache__/node_base.cpython-37.pyc
homie/node/__pycache__/node_base.cpython-37.pyc
homie/__pycache__/device_base.cpython-37.pyc
homie/node/__pycache__/node_base.cpython-37.pyc
homie/node/property/__pycache__/property_base.cpython-37.pyc
